.section-contact-info {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: $light-gray;
	.contact-info {
		li {
			margin-bottom: .8rem;
			a {
				font-weight: 600;
				line-height: 1.3;
				color: $black;
			}
		}
	}
}

.social {
	margin-top: .5rem;
	@include breakpoint(small only) {
		margin-bottom: 1.5rem;
	}
	li {
		margin-right: .7rem;
		a {
			width: 2rem;
			height: 2rem;
			border-radius: 100%;
			color: $white;
			background-color: $black;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color .3s ease;
			
			&:hover {
				background-color: get-color(primary);
			}
			
		}
	}
}

footer.footer {
	margin: 0;
	padding: 6rem 0 0;
	background-color: $black;
	color: $white;
	.logo {
		width: 180px;
		transition: width .3s ease;
	}
	#footer-links {
		justify-content: flex-end;
		> li {
			margin-left: 1.75rem;
			a {
				font-weight: 600;
				color: $white;
				&:hover {
					text-decoration: underline;
					
				}				
			}
			
		&.current-menu-item {
			a {
				color: get-color(primary);
			}
		}
		
			.sub-menu {
				margin: .4rem 0 0;
				list-style: none;
				padding: .3rem 0;
				
				li {
					padding: .15rem 0;
					border-left: 3px solid get-color(primary);
					a {
						padding: .3rem 1rem;
						color: $white;
						font-size: rem-calc(14);
						
					&:hover {
						text-decoration: underline;
					}
						
					}
				}
			}
			
		}
	}
	
	.source-org {
		padding-top: 3rem;
		font-size: rem-calc(14);
	}

}