header.header {
	z-index: 9;
	border-bottom: 4px solid transparent;
	transition: border-color .3s ease;
	.logo {
		width: 100px;
		transition: width .3s ease;
		@include breakpoint(medium) {
			width: 180px;
		}
	}
	#main-nav {
		> li {
			margin-left: 1.75rem;
			a {
				font-weight: 600;
				color: $black;
				&:hover {
					text-decoration: underline;
					
				}				
			}
			
		&.current-menu-item {
			a {
				color: get-color(primary);
			}
		}
		
			.submenu {
				margin-top: 1rem;
				padding: .3rem 0;
				
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				height: 1rem;
				top: -1rem;
			}
				
				li {
					margin: .3rem 0;
					a {
						padding: .3rem 1rem;
						color: $black;
						font-size: rem-calc(14);
						
					&:hover {
						text-decoration: underline;
					}
						
					}
				}
			}
			
		}
	}
	
	.menu-toggle-wrap {

		a#menu-toggle {
			padding: 0;
			width: 36px;
			height: 36px;
			position: relative;
			
			span {
				position: absolute;
				left: 0;
				right: 0;
				width: 36px;
				height: 4px;
				background-color: get-color(primary);
				transition: background-color .2s ease;
				
				&:nth-child(1) {
					top: 4px;
				}
	
				&:nth-child(2) {
					top: 16px;
				}
				
				&:nth-child(3) {
					bottom: 4px;
				}
									
			}
			
		}
		
	}
	
&.is-stuck {
	border-color: get-color(secondary);
	.logo {
		width: 100px;
	}
}	

}

#offcanvas-nav {
	a {
		font-weight: 600;
	}
	> li {
		&:first-child {
			margin-top: 2px;
		}
		> a {
			display: block;
			padding: .5rem 1rem;
			margin-top: -2px;
			border-top: 2px solid get-color(primary);
			border-bottom: 2px solid get-color(primary);
		}
		.submenu {
			padding: .5rem 0;
			li {
				a {
					padding: .5rem 1rem .5rem 2rem;
				}
			}
		}
	}
}