.home {
	.about {
		background-color: $light-gray;
		padding-top: 3.75rem;
		padding-bottom: 3rem;
		margin-bottom: 2.5rem;
		@include breakpoint(medium) {
			padding-top: 6rem;
			padding-bottom: 6rem;			
		}
	}
	
	.cards {
		position: relative;
		padding-top: 2rem;
		padding-bottom: 2rem;
		.cards-heading {
			padding-bottom: 1.5rem;
		}
		
		@include breakpoint(medium) {
			padding-top: 3rem;
			padding-bottom: 3rem;			
		}
		
	&.featured-brands {
		padding-top: 6rem;
	}
		
		article {
			max-width: 370px;
			@include breakpoint(large) {
				max-width: none;
			}
			a {
				display: block;
				background-color: $white;
				color: $black;
				border: 5px solid $black;
				padding: 1.75rem 1.25rem;
				margin-bottom: calc(.9375rem * 2);
				transform: scale(1);
				transition: all .3s ease;
				
				.article-header {
					padding-bottom: 1rem;
					h3 {
						line-height: .9;
					}
				}
				
				.logo-wrap {
					background-color: $white;
					padding: .5rem 1rem;
					margin: 0 0 1.25rem;
					// border-left: 5px solid get-color(secondary);
					// border-right: 5px solid get-color(secondary);
				}
				
				.classifications,
				.stats {
					margin-bottom: 1rem;
					span {
						font-size: rem-calc(14);
						display: inline-block;
						padding: 2px 8px;
						background-color: get-color(secondary);
					}
				}
				
				.description-copy {
					margin-top: 8px;
				}
				
			&:hover {
				border-color: get-color(primary);
				transform: scale(1.025);
			}
				
			}
		}
		
		.link-wrap {
			text-align: center;
			padding-top: .5rem;
		}
		
		svg.bg-svg {
			width: 80%;
			position: absolute;
			z-index: -1;
			top: 3rem;
			bottom: 3rem;
			opacity: .03;		
		}
					
		svg.barrel {
			max-width: 500px;
			top: -7rem;
			left: -3rem;
			right: 0;
			transform: rotate(20deg);
		}
		
		svg.bottle {
			max-width: 700px;
			top: -5rem;
			right: -15rem;
			left: auto;			
			transform: rotate(-20deg);
		}
		
		svg.cheers {
			max-width: 500px;
			top: -8rem;
			left: -3rem;
			right: 0;
			transform: rotate(20deg);
		}
		
	}

}